@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SupportSystems.Models.YeuCau
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>General Form</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">General Form</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add new employee</h3>
                        <br />
                        <p>@TempData["msg"]</p>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="post" asp-controller="yeucau" asp-action="add">
                        <div class="card-body">

                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" placeholder="Enter title" asp-for="Tieude">
                            </div>
                            <div class="form-group">
                                <label>Title</label>
                                <textarea placeholder="content" asp-for="Noidung"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Priority</label>
                                <select asp-for="Madouutien">
                                    @foreach (var d in ViewBag.douutien)
                                    {
                                        <option value="@d.Madouutien">@d.Tendouutien</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->